.UploadCustom {
  display: flex;
  flex-direction: column;
  & > label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  & > input[type="file"] {
    margin-bottom: 1rem;
  }
  & > img {
    padding: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
  }
}
