.PageSection {
  padding: 2rem 0.5rem;
  margin-top: 2rem;

  &__inner {
    & .title {
      display: flex;
      align-items: flex-end;
      & > span {
        font-size: 1.5rem;
      }
      & > a {
        visibility: hidden;
      }
    }

    & .subTitleBottom {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      & > div {
        width: 18.75rem;
        padding: 0.3rem 1rem;
        display: flex;
        justify-content: center;
        background-color: #fff;
        border: 1px solid #ccc;

        & > a {
          display: flex;
          align-items: flex-end;
          text-transform: uppercase;
          font-weight: 500;

          text-decoration: none;
          color: #222;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .PageSection {
    &__inner {
      & .title {
        & > span {
          font-size: 2rem;
        }
        & > a {
          visibility: visible;
        }
      }
    }
  }
}
